/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";
@import "compass/css3/animation";

@font-face {
font-family: Venera;
src: url("../fonts/Venera-100.otf") format("opentype");
}

@font-face {
font-family: marker;
src: url("../fonts/marker.ttf") format("opentype");
}

@font-face {
font-family: Venerathree;
src: url("../fonts/Venera-300.otf") format("opentype");
}

@font-face {
font-family: Venerafive;
src: url("../fonts/Venera-500.otf") format("opentype");
}

@font-face {
	font-family: bebas;
	src: url("../fonts/bebas/BebasNeue Bold.otf") format("opentype");
}

@font-face {
	font-family: voyager;
	src: url("../fonts/Voyager-Grotesque/V-GERB(bold).ttf") format("opentype");
}

body {
	font-family: Venerafive;
}

.btn-default {
	border-radius: none !important;
	background-color: #b200ff;
	border-width: 0px;
	color: #c7ff44;
}

.randomized {
	margin-top: 10px;
	margin-left: 72px;
	font-size: .7em;
	background-color: yellow;
	font-family: Venerathree;
	padding-top: 3px;
	width: 50%;
	color: black;
	border-radius: 0px 10px 0px 0px;
	z-index: 500;
}

.turn-sound {
	position: relative;
	z-index: 500;
}

.title {
	height: 400px;
	width: 800px;
	margin-left: auto;
	margin-right: auto;
	border-width: 20px;
	border-color: transparent;
	border-style: solid;
	border-image: url(../images/border.svg) 20 repeat;
}

.title-inner {
	height: 100%;
	width: 100%;
 -webkit-animation: title 5s infinite alternate;
}
.cloud1 {
	width: 100%;
}

.cloud1 img {
	margin-left: auto;
	margin-right: auto;
}

@-webkit-keyframes title {
    0% {background-image: url("../images/site-title1.png");}
    50% {background-image: url("../images/site-title2.png");}
    100% {background-image: url("../images/site-title3.png");}
}

#cloud2 {
	float: right;
}

.random-text {
	color: yellow;
	float: right;
	margin-top: 10px;
}

.fix {
	height: 120px;
}

.random-text2 {
	color: yellow;
	float: left;
}

.skull {
	height: 80px;
	width: auto;
}

.right {
	float: left;
	img {
		-webkit-transform: scaleX(-1);
	}
}

.cloud2 {
	-webkit-transform: scaleX(-1);
}

.skull:hover {
	-webkit-filter: invert(100%);
}

#invert:hover {
	-webkit-filter: invert(100%);
}

.brand-img {
	height: 70px;
	width: auto;
}

body {
	background-color: black;
}

.navbar {
	border-radius: 0px;
	background: -moz-linear-gradient(left, #fff132 0%, #eabe2c 31%, #fc286f 70%, #a189ff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#fff132), color-stop(31%,#eabe2c), color-stop(70%,#fc286f), color-stop(100%,#a189ff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #fff132 0%,#eabe2c 31%,#fc286f 70%,#a189ff 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left, #fff132 0%,#eabe2c 31%,#fc286f 70%,#a189ff 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left, #fff132 0%,#eabe2c 31%,#fc286f 70%,#a189ff 100%); /* IE10+ */
	background: linear-gradient(to right, #fff132 0%,#eabe2c 31%,#fc286f 70%,#a189ff 100%); /* W3C */;
	border-width: 0px;
	a {
		color: white;
	}
}

.glitch-background {
	background-image: url('../images/background1.jpg');
	opacity: 50%;
}

.glitch-background2 {
	background-image: url('../images/blue-screen.gif');
	opacity: 50%;
}

.glitch-background3 {
	background-image: url('../images/background2.gif');
	opacity: 50%;
}

.glitch-background4 {
	background-image: url('../images/galaxy.jpg');
}

.glitch-background5 {
	background-image: url('../images/galaxy2.jpg');
}

.turn-on {
margin-bottom: 20px;
position: relative;
	z-index: 1000;
}

.social {
	background-color: gray;
	padding-top: 20px;
	float: left;
	z-index: 200;
	width: 100%;
	padding-left: 20px;
	margin-top: 50px;
}

.icon {
	height: 60px;
	-webkit-transform: rotate(0deg);
	-webkit-filter: hue-rotate(0deg);
	-webkit-transition: -webkit-transform, .5s;
	float: left;
}

.icon:hover {
	-webkit-transform:rotate(360deg);
	-webkit-filter: hue-rotate(180deg);
}

.about {
	// padding: 100px;
	background-color: black;
	// margin-top: 30px;
	font-family: 'Montserrat', sans-serif;
	color: white;
	h1 {
		font-size: 40px;
		margin-bottom: 20px;
	}
	.desc {
		margin-top: 20px;
		margin-bottom: 10px;
	}

	.list {
		margin-left: 20px;
	}
}

.aboutme {
	margin-bottom: 60px;
}

#map-canvas {
  width: 500px;
  height: 400px;
  background-color: #CCC;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #a5a5a5;
}

.top {
	padding-top: 20px;
}

.thumbnail-desc {
	font-family: 'Montserrat', sans-serif;
}

.thumbnail-desc-small {
	font-family: 'Montserrat', sans-serif;
	font-size: .9em;
}

.thumb-button {
	margin-top: 10px;
	background-color: black;
	color: yellow;
	border-width: 0px;
	-webkit-transition: background-color, 1s;
}

.thumb-button:hover {
	background-color: #8c00ff;
	color: #00f2ff;
}
.thumbnail {
	background-color: #c9c9c9;
	height: 340px;
	img {
		max-height: 180px;
	}
}

.index-title {
	margin-top: 60px;
	margin-bottom: 10px;
	font-family: 'voyager', sans-serif;
	letter-spacing: 5px;
	font-size: 80px;
	// text-align: center;
	color: #5e5e5e;
}

#subtitle {
	height: 60px;
	position: relative;
	margin-bottom: 20px;
	font-family: 'Venera', sans-serif;
	letter-spacing: 10px;
	font-size: 40px;
	float: left;
	margin-left: 60px;
	color: #5e5e5e;
	z-index: 500;
}

.e {
	font-size: 68px;
	color: #8baa00;
}

.s {
	font-size: 70px;
	color: #999999;
}

 .navbar-default { height: 28px;
 	.active {
		height: 35px;
	}
 }


	.active {
		a {
		height: 45px;
		// border-radius: 0px 0px 5px 5px;
		background-color: #b6f9e1;
	}
	}

	.nav {
		a {
			margin-top: -8px;
		}
	}

	.phone {
		float: right;
	}

	.email {
		float: right;
	}

* {
  margin: 0;
}

html, body {
  height: 100%;
}

.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -120px; 
}
.page-wrap:after {
  content: "";
  display: block;
}

.site-footer, .page-wrap:after {
  height: 100px; 
}

.space {
	margin-top: 25px;
}

.phone {
	display: block;
	background-color: black;
	color: white;
	padding: 10px 10px 11px 10px;
	border-radius: 10px 0px 0px 10px;
	position: relative;
	bottom: 5px;
	margin-bottom: 30px;
}

.email {
	display: block;
	background-color: black;
	color: white;
	padding: 10px 10px 11px 10px;
	border-radius: 10px 0px 0px 10px;
	position: relative;
	bottom: 29px;
}

.social {
	display: inline;
}

.fa {
	float: right;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	margin-right: 10px;
	color: white;
}

.fa-phone {
	position: relative;
	bottom: 20px;
	background-color: black;
	padding-top: 5px;
	padding-right: 16px;
	left: 10px;
	padding-left: 15px;
	border-radius: 10px 0px 0px 10px;
}

.fa-envelope {
	position: relative;
	bottom: 43px;
	background-color: black;
	padding-left: 15px;
	padding-right: 10px;
	left: 10px;
	padding-bottom: 4px;
	border-radius: 10px 0px 0px 10px;
}

.hidden {
	visibility: hidden;
}

.sticker {
	height: 130px;
	background: -moz-linear-gradient(left, #ff32cf 0%, #30ffff 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ff32cf), color-stop(100%,#30ffff)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left, #ff32cf 0%,#30ffff 100%); /* Chrome10+,Safari5.1+ */
	border-radius: 100%;
	width: 130px;
	position: absolute;
	left: 180px;
	border-width: 5px;
	border-style: solid;
	border-color: white;
	top: 30px;
	z-index: 1;

}

.sticker2 {
	height: 140px;
	background-color: #ffc700;
	border-radius: 100%;
	width: 140px;
	position: absolute;
	left: 175px;
	top: 25px;
	z-index: 1;

}

.sticker-container {
	position: absolute;
	top: 200px;
	right: 1200px;
	z-index: 1;
}

.cloud1 {
	position: relative;
	z-index: 500;
}

.click-play {
	margin-top: 10px;
	margin-left: 20px;
	-webkit-transform: rotate(-15deg);
	font-family: marker;
	font-size: 1.4em;
	color: white;
}






