/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 4, ../sass/_physics.scss */
* {
  margin: 0;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

/* line 14, ../sass/_physics.scss */
body {
  background: #333;
}

/* line 18, ../sass/_physics.scss */
canvas {
  background: #333;
  width: 1000px;
  height: 340px;
  margin: 0 auto;
  display: block;
  border: 1px dashed #555;
  border-top: none;
}

/* line 28, ../sass/_physics.scss */
#info {
  position: absolute;
  left: -1px;
  top: -1px;
  width: auto;
  max-width: 380px;
  height: auto;
  background: #f2f2f2;
  border-bottom-right-radius: 10px;
}

/* line 39, ../sass/_physics.scss */
#top {
  background: #fff;
  width: 100%;
  height: auto;
  position: relative;
  border-bottom: 1px solid #eee;
}

/* line 47, ../sass/_physics.scss */
p {
  font-family: Arial, sans-serif;
  color: #666;
  text-align: justify;
  font-size: 16px;
  line-height: 22px;
  margin: 10px;
}

/* line 56, ../sass/_physics.scss */
a {
  font-family: sans-serif;
  color: #444;
  text-decoration: none;
  font-size: 20px;
}

/* line 63, ../sass/_physics.scss */
#site {
  float: left;
  margin: 10px;
  color: #38a;
  border-bottom: 1px dashed #bbf;
  padding-bottom: 3px;
}

/* line 71, ../sass/_physics.scss */
#close {
  float: right;
  margin: 10px;
}

@font-face {
  font-family: GraublauWeb;
  src: url("../fonts/Venera-100.otf") format("opentype");
}
/* line 15, ../sass/screen.scss */
.title {
  height: 400px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-width: 20px;
  border-color: transparent;
  border-style: solid;
  border-image: url(../images/border.svg) 20 repeat;
}

/* line 26, ../sass/screen.scss */
.title-inner {
  height: 100%;
  width: 100%;
  -webkit-animation: title 5s infinite alternate;
}

/* line 32, ../sass/screen.scss */
body {
  background-color: black;
}

/* line 35, ../sass/screen.scss */
.cloud1 {
  width: 100%;
}

/* line 39, ../sass/screen.scss */
.cloud1 img {
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes title {
  0% {
    background-image: url("../images/site-title1.png");
  }
  50% {
    background-image: url("../images/site-title2.png");
  }
  100% {
    background-image: url("../images/site-title3.png");
  }
}
/* line 50, ../sass/screen.scss */
#cloud2 {
  float: right;
}

/* line 54, ../sass/screen.scss */
.random-text {
  color: yellow;
  float: right;
  margin-top: 10px;
}

/* line 60, ../sass/screen.scss */
.fix {
  height: 100px;
}

/* line 64, ../sass/screen.scss */
.random-text2 {
  color: yellow;
  float: left;
}

/* line 69, ../sass/screen.scss */
.skull {
  height: 80px;
  width: auto;
}

/* line 74, ../sass/screen.scss */
.right {
  float: left;
}
/* line 76, ../sass/screen.scss */
.right img {
  -webkit-transform: scaleX(-1);
}

/* line 81, ../sass/screen.scss */
.cloud2 {
  -webkit-transform: scaleX(-1);
}

/* line 85, ../sass/screen.scss */
.skull:hover {
  -webkit-filter: invert(100%);
}

/* line 89, ../sass/screen.scss */
#invert:hover {
  -webkit-filter: invert(100%);
}
