/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Venera;
  src: url("../fonts/Venera-100.otf") format("opentype");
}
@font-face {
  font-family: Venerathree;
  src: url("../fonts/Venera-300.otf") format("opentype");
}
@font-face {
  font-family: Venerafive;
  src: url("../fonts/Venera-500.otf") format("opentype");
}
/* line 24, ../sass/screen.scss */
button {
  font-family: Venerafive;
}

/* line 28, ../sass/screen.scss */
.btn-default {
  border-radius: none !important;
  background-color: #b200ff;
  border-width: 0px;
  color: #c7ff44;
}

/* line 35, ../sass/screen.scss */
.randomized {
  margin-top: 10px;
  margin-left: 72px;
  font-size: .7em;
  background-color: yellow;
  font-family: Venerathree;
  padding-top: 3px;
  width: 27%;
  color: black;
  border-radius: 0px 10px 0px 0px;
}

/* line 47, ../sass/screen.scss */
.title {
  height: 400px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-width: 20px;
  border-color: transparent;
  border-style: solid;
  border-image: url(../images/border.svg) 20 repeat;
}

/* line 58, ../sass/screen.scss */
.title-inner {
  height: 100%;
  width: 100%;
  -webkit-animation: title 5s infinite alternate;
}

/* line 64, ../sass/screen.scss */
body {
  background-color: black;
}

/* line 67, ../sass/screen.scss */
.cloud1 {
  width: 100%;
}

/* line 71, ../sass/screen.scss */
.cloud1 img {
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes title {
  0% {
    background-image: url("../images/site-title1.png");
  }
  50% {
    background-image: url("../images/site-title2.png");
  }
  100% {
    background-image: url("../images/site-title3.png");
  }
}
/* line 82, ../sass/screen.scss */
#cloud2 {
  float: right;
}

/* line 86, ../sass/screen.scss */
.random-text {
  color: yellow;
  float: right;
  margin-top: 10px;
}

/* line 92, ../sass/screen.scss */
.fix {
  height: 120px;
}

/* line 96, ../sass/screen.scss */
.random-text2 {
  color: yellow;
  float: left;
}

/* line 101, ../sass/screen.scss */
.skull {
  height: 80px;
  width: auto;
}

/* line 106, ../sass/screen.scss */
.right {
  float: left;
}
/* line 108, ../sass/screen.scss */
.right img {
  -webkit-transform: scaleX(-1);
}

/* line 113, ../sass/screen.scss */
.cloud2 {
  -webkit-transform: scaleX(-1);
}

/* line 117, ../sass/screen.scss */
.skull:hover {
  -webkit-filter: invert(100%);
}

/* line 121, ../sass/screen.scss */
#invert:hover {
  -webkit-filter: invert(100%);
}
