/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Venera;
  src: url("../fonts/Venera-100.otf") format("opentype");
}
@font-face {
  font-family: marker;
  src: url("../fonts/marker.ttf") format("opentype");
}
@font-face {
  font-family: Venerathree;
  src: url("../fonts/Venera-300.otf") format("opentype");
}
@font-face {
  font-family: Venerafive;
  src: url("../fonts/Venera-500.otf") format("opentype");
}
@font-face {
  font-family: bebas;
  src: url("../fonts/bebas/BebasNeue Bold.otf") format("opentype");
}
@font-face {
  font-family: voyager;
  src: url("../fonts/Voyager-Grotesque/V-GERB(bold).ttf") format("opentype");
}
/* line 39, ../sass/screen.scss */
body {
  font-family: Venerafive;
}

/* line 43, ../sass/screen.scss */
.btn-default {
  border-radius: none !important;
  background-color: #b200ff;
  border-width: 0px;
  color: #c7ff44;
}

/* line 50, ../sass/screen.scss */
.randomized {
  margin-top: 10px;
  margin-left: 72px;
  font-size: .7em;
  background-color: yellow;
  font-family: Venerathree;
  padding-top: 3px;
  width: 50%;
  color: black;
  border-radius: 0px 10px 0px 0px;
  z-index: 500;
}

/* line 63, ../sass/screen.scss */
.turn-sound {
  position: relative;
  z-index: 500;
}

/* line 68, ../sass/screen.scss */
.title {
  height: 400px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-width: 20px;
  border-color: transparent;
  border-style: solid;
  border-image: url(../images/border.svg) 20 repeat;
}

/* line 79, ../sass/screen.scss */
.title-inner {
  height: 100%;
  width: 100%;
  -webkit-animation: title 5s infinite alternate;
}

/* line 84, ../sass/screen.scss */
.cloud1 {
  width: 100%;
}

/* line 88, ../sass/screen.scss */
.cloud1 img {
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes title {
  0% {
    background-image: url("../images/site-title1.png");
  }
  50% {
    background-image: url("../images/site-title2.png");
  }
  100% {
    background-image: url("../images/site-title3.png");
  }
}
/* line 99, ../sass/screen.scss */
#cloud2 {
  float: right;
}

/* line 103, ../sass/screen.scss */
.random-text {
  color: yellow;
  float: right;
  margin-top: 10px;
}

/* line 109, ../sass/screen.scss */
.fix {
  height: 120px;
}

/* line 113, ../sass/screen.scss */
.random-text2 {
  color: yellow;
  float: left;
}

/* line 118, ../sass/screen.scss */
.skull {
  height: 80px;
  width: auto;
}

/* line 123, ../sass/screen.scss */
.right {
  float: left;
}
/* line 125, ../sass/screen.scss */
.right img {
  -webkit-transform: scaleX(-1);
}

/* line 130, ../sass/screen.scss */
.cloud2 {
  -webkit-transform: scaleX(-1);
}

/* line 134, ../sass/screen.scss */
.skull:hover {
  -webkit-filter: invert(100%);
}

/* line 138, ../sass/screen.scss */
#invert:hover {
  -webkit-filter: invert(100%);
}

/* line 142, ../sass/screen.scss */
.brand-img {
  height: 70px;
  width: auto;
}

/* line 147, ../sass/screen.scss */
body {
  background-color: black;
}

/* line 151, ../sass/screen.scss */
.navbar {
  border-radius: 0px;
  background: -moz-linear-gradient(left, #fff132 0%, #eabe2c 31%, #fc286f 70%, #a189ff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fff132), color-stop(31%, #eabe2c), color-stop(70%, #fc286f), color-stop(100%, #a189ff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #fff132 0%, #eabe2c 31%, #fc286f 70%, #a189ff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #fff132 0%, #eabe2c 31%, #fc286f 70%, #a189ff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #fff132 0%, #eabe2c 31%, #fc286f 70%, #a189ff 100%);
  /* IE10+ */
  background: linear-gradient(to right, #fff132 0%, #eabe2c 31%, #fc286f 70%, #a189ff 100%);
  /* W3C */
  border-width: 0px;
}
/* line 160, ../sass/screen.scss */
.navbar a {
  color: white;
}

/* line 165, ../sass/screen.scss */
.glitch-background {
  background-image: url("../images/background1.jpg");
  opacity: 50%;
}

/* line 170, ../sass/screen.scss */
.glitch-background2 {
  background-image: url("../images/blue-screen.gif");
  opacity: 50%;
}

/* line 175, ../sass/screen.scss */
.glitch-background3 {
  background-image: url("../images/background2.gif");
  opacity: 50%;
}

/* line 180, ../sass/screen.scss */
.glitch-background4 {
  background-image: url("../images/galaxy.jpg");
}

/* line 184, ../sass/screen.scss */
.glitch-background5 {
  background-image: url("../images/galaxy2.jpg");
}

/* line 188, ../sass/screen.scss */
.turn-on {
  margin-bottom: 20px;
  position: relative;
  z-index: 1000;
}

/* line 194, ../sass/screen.scss */
.social {
  background-color: gray;
  padding-top: 20px;
  float: left;
  z-index: 200;
  width: 100%;
  padding-left: 20px;
  margin-top: 50px;
}

/* line 204, ../sass/screen.scss */
.icon {
  height: 60px;
  -webkit-transform: rotate(0deg);
  -webkit-filter: hue-rotate(0deg);
  -webkit-transition: -webkit-transform, .5s;
  float: left;
}

/* line 212, ../sass/screen.scss */
.icon:hover {
  -webkit-transform: rotate(360deg);
  -webkit-filter: hue-rotate(180deg);
}

/* line 217, ../sass/screen.scss */
.about {
  background-color: black;
  font-family: 'Montserrat', sans-serif;
  color: white;
}
/* line 223, ../sass/screen.scss */
.about h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
/* line 227, ../sass/screen.scss */
.about .desc {
  margin-top: 20px;
  margin-bottom: 10px;
}
/* line 232, ../sass/screen.scss */
.about .list {
  margin-left: 20px;
}

/* line 237, ../sass/screen.scss */
.aboutme {
  margin-bottom: 60px;
}

/* line 241, ../sass/screen.scss */
#map-canvas {
  width: 500px;
  height: 400px;
  background-color: #CCC;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #a5a5a5;
}

/* line 251, ../sass/screen.scss */
.top {
  padding-top: 20px;
}

/* line 255, ../sass/screen.scss */
.thumbnail-desc {
  font-family: 'Montserrat', sans-serif;
}

/* line 259, ../sass/screen.scss */
.thumbnail-desc-small {
  font-family: 'Montserrat', sans-serif;
  font-size: .9em;
}

/* line 264, ../sass/screen.scss */
.thumb-button {
  margin-top: 10px;
  background-color: black;
  color: yellow;
  border-width: 0px;
  -webkit-transition: background-color, 1s;
}

/* line 272, ../sass/screen.scss */
.thumb-button:hover {
  background-color: #8c00ff;
  color: #00f2ff;
}

/* line 276, ../sass/screen.scss */
.thumbnail {
  background-color: #c9c9c9;
  height: 340px;
}
/* line 279, ../sass/screen.scss */
.thumbnail img {
  max-height: 180px;
}

/* line 284, ../sass/screen.scss */
.index-title {
  margin-top: 60px;
  margin-bottom: 10px;
  font-family: 'voyager', sans-serif;
  letter-spacing: 5px;
  font-size: 80px;
  color: #5e5e5e;
}

/* line 294, ../sass/screen.scss */
#subtitle {
  height: 60px;
  position: relative;
  margin-bottom: 20px;
  font-family: 'Venera', sans-serif;
  letter-spacing: 10px;
  font-size: 40px;
  float: left;
  margin-left: 60px;
  color: #5e5e5e;
  z-index: 500;
}

/* line 307, ../sass/screen.scss */
.e {
  font-size: 68px;
  color: #8baa00;
}

/* line 312, ../sass/screen.scss */
.s {
  font-size: 70px;
  color: #999999;
}

/* line 317, ../sass/screen.scss */
.navbar-default {
  height: 28px;
}
/* line 318, ../sass/screen.scss */
.navbar-default .active {
  height: 35px;
}

/* line 325, ../sass/screen.scss */
.active a {
  height: 45px;
  background-color: #b6f9e1;
}

/* line 333, ../sass/screen.scss */
.nav a {
  margin-top: -8px;
}

/* line 338, ../sass/screen.scss */
.phone {
  float: right;
}

/* line 342, ../sass/screen.scss */
.email {
  float: right;
}

/* line 346, ../sass/screen.scss */
* {
  margin: 0;
}

/* line 350, ../sass/screen.scss */
html, body {
  height: 100%;
}

/* line 354, ../sass/screen.scss */
.page-wrap {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -120px;
}

/* line 359, ../sass/screen.scss */
.page-wrap:after {
  content: "";
  display: block;
}

/* line 364, ../sass/screen.scss */
.site-footer, .page-wrap:after {
  height: 100px;
}

/* line 368, ../sass/screen.scss */
.space {
  margin-top: 25px;
}

/* line 372, ../sass/screen.scss */
.phone {
  display: block;
  background-color: black;
  color: white;
  padding: 10px 10px 11px 10px;
  border-radius: 10px 0px 0px 10px;
  position: relative;
  bottom: 5px;
  margin-bottom: 30px;
}

/* line 383, ../sass/screen.scss */
.email {
  display: block;
  background-color: black;
  color: white;
  padding: 10px 10px 11px 10px;
  border-radius: 10px 0px 0px 10px;
  position: relative;
  bottom: 29px;
}

/* line 393, ../sass/screen.scss */
.social {
  display: inline;
}

/* line 397, ../sass/screen.scss */
.fa {
  float: right;
  margin-top: 15px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 10px;
  color: white;
}

/* line 406, ../sass/screen.scss */
.fa-phone {
  position: relative;
  bottom: 20px;
  background-color: black;
  padding-top: 5px;
  padding-right: 16px;
  left: 10px;
  padding-left: 15px;
  border-radius: 10px 0px 0px 10px;
}

/* line 417, ../sass/screen.scss */
.fa-envelope {
  position: relative;
  bottom: 43px;
  background-color: black;
  padding-left: 15px;
  padding-right: 10px;
  left: 10px;
  padding-bottom: 4px;
  border-radius: 10px 0px 0px 10px;
}

/* line 428, ../sass/screen.scss */
.hidden {
  visibility: hidden;
}

/* line 432, ../sass/screen.scss */
.sticker {
  height: 130px;
  background: -moz-linear-gradient(left, #ff32cf 0%, #30ffff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #ff32cf), color-stop(100%, #30ffff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ff32cf 0%, #30ffff 100%);
  /* Chrome10+,Safari5.1+ */
  border-radius: 100%;
  width: 130px;
  position: absolute;
  left: 180px;
  border-width: 5px;
  border-style: solid;
  border-color: white;
  top: 30px;
  z-index: 1;
  -webkit-transform: rotate(-15deg);
  -webkit-transition: -webkit-transform 1s;
}

/* line 451, ../sass/screen.scss */
.sticker:hover {
  -webkit-transform: rotate(0deg);
}

/* line 456, ../sass/screen.scss */
.sticker2 {
  height: 140px;
  background-color: #ffc700;
  border-radius: 100%;
  width: 140px;
  position: absolute;
  left: 175px;
  top: 25px;
  z-index: 1;
}

/* line 468, ../sass/screen.scss */
.sticker-container {
  position: absolute;
  top: 200px;
  right: 1200px;
  z-index: 1;
}

/* line 475, ../sass/screen.scss */
.cloud1 {
  position: relative;
  z-index: 500;
}

/* line 480, ../sass/screen.scss */
.click-play {
  margin-top: 12px;
  margin-left: 20px;
  font-family: marker;
  font-size: 1.4em;
  color: white;
}
