/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 5, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../.rubies/ruby-2.1.2/lib/ruby/gems/2.1.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

@font-face {
  font-family: Venera;
  src: url("../fonts/Venera-100.otf") format("opentype");
}
@font-face {
  font-family: Venerathree;
  src: url("../fonts/Venera-300.otf") format("opentype");
}
@font-face {
  font-family: Venerafive;
  src: url("../fonts/Venera-500.otf") format("opentype");
}
/* line 24, ../sass/screen.scss */
body {
  font-family: Venerafive;
}

/* line 28, ../sass/screen.scss */
.btn-default {
  border-radius: none !important;
  background-color: #b200ff;
  border-width: 0px;
  color: #c7ff44;
}

/* line 35, ../sass/screen.scss */
.randomized {
  margin-top: 10px;
  margin-left: 72px;
  font-size: .7em;
  background-color: yellow;
  font-family: Venerathree;
  padding-top: 3px;
  width: 50%;
  color: black;
  border-radius: 0px 10px 0px 0px;
}

/* line 47, ../sass/screen.scss */
.title {
  height: 400px;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  border-width: 20px;
  border-color: transparent;
  border-style: solid;
  border-image: url(../images/border.svg) 20 repeat;
}

/* line 58, ../sass/screen.scss */
.title-inner {
  height: 100%;
  width: 100%;
  -webkit-animation: title 5s infinite alternate;
}

/* line 63, ../sass/screen.scss */
.cloud1 {
  width: 100%;
}

/* line 67, ../sass/screen.scss */
.cloud1 img {
  margin-left: auto;
  margin-right: auto;
}

@-webkit-keyframes title {
  0% {
    background-image: url("../images/site-title1.png");
  }
  50% {
    background-image: url("../images/site-title2.png");
  }
  100% {
    background-image: url("../images/site-title3.png");
  }
}
/* line 78, ../sass/screen.scss */
#cloud2 {
  float: right;
}

/* line 82, ../sass/screen.scss */
.random-text {
  color: yellow;
  float: right;
  margin-top: 10px;
}

/* line 88, ../sass/screen.scss */
.fix {
  height: 120px;
}

/* line 92, ../sass/screen.scss */
.random-text2 {
  color: yellow;
  float: left;
}

/* line 97, ../sass/screen.scss */
.skull {
  height: 80px;
  width: auto;
}

/* line 102, ../sass/screen.scss */
.right {
  float: left;
}
/* line 104, ../sass/screen.scss */
.right img {
  -webkit-transform: scaleX(-1);
}

/* line 109, ../sass/screen.scss */
.cloud2 {
  -webkit-transform: scaleX(-1);
}

/* line 113, ../sass/screen.scss */
.skull:hover {
  -webkit-filter: invert(100%);
}

/* line 117, ../sass/screen.scss */
#invert:hover {
  -webkit-filter: invert(100%);
}

/* line 121, ../sass/screen.scss */
.brand-img {
  height: 70px;
  width: auto;
}

/* line 126, ../sass/screen.scss */
body {
  background-color: black;
}

/* line 130, ../sass/screen.scss */
.navbar {
  border-radius: 0px;
  background: -moz-linear-gradient(left, #fff132 0%, #eabe2c 31%, #fc286f 70%, #a189ff 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, #fff132), color-stop(31%, #eabe2c), color-stop(70%, #fc286f), color-stop(100%, #a189ff));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #fff132 0%, #eabe2c 31%, #fc286f 70%, #a189ff 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #fff132 0%, #eabe2c 31%, #fc286f 70%, #a189ff 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #fff132 0%, #eabe2c 31%, #fc286f 70%, #a189ff 100%);
  /* IE10+ */
  background: linear-gradient(to right, #fff132 0%, #eabe2c 31%, #fc286f 70%, #a189ff 100%);
  /* W3C */
  border-width: 0px;
}
/* line 139, ../sass/screen.scss */
.navbar a {
  color: white;
}

/* line 144, ../sass/screen.scss */
.glitch-background {
  background-image: url("../images/background1.jpg");
  opacity: 50%;
}

/* line 149, ../sass/screen.scss */
.glitch-background2 {
  background-image: url("../images/blue-screen.gif");
  opacity: 50%;
}

/* line 154, ../sass/screen.scss */
.glitch-background3 {
  background-image: url("../images/background2.gif");
  opacity: 50%;
}

/* line 159, ../sass/screen.scss */
.turn-on {
  margin-bottom: 20px;
}

/* line 162, ../sass/screen.scss */
.footer {
  height: 200px;
  background-color: #cccccc;
  text-align: center;
  padding-top: 40px;
}

/* line 169, ../sass/screen.scss */
.phone {
  padding: 15px;
  background-color: #00bfe5;
  border-radius: 10px;
  margin: 10px;
}

/* line 176, ../sass/screen.scss */
.email {
  padding: 15px;
  background-color: #00bfe5;
  border-radius: 10px;
  margin: 10px;
  width: auto;
}

/* line 184, ../sass/screen.scss */
.social {
  background-color: #606060;
  padding: 20px;
  text-align: center;
  z-index: 200;
  margin-top: 20px;
}

/* line 192, ../sass/screen.scss */
.icon {
  height: 60px;
}

/* line 196, ../sass/screen.scss */
.about {
  padding: 100px;
  background-color: white;
  margin-top: 30px;
  font-family: 'Montserrat', sans-serif;
}
/* line 201, ../sass/screen.scss */
.about h1 {
  font-size: 40px;
  margin-bottom: 20px;
}
/* line 205, ../sass/screen.scss */
.about .desc {
  margin-top: 20px;
  margin-bottom: 10px;
}
/* line 210, ../sass/screen.scss */
.about .list {
  margin-left: 20px;
}

/* line 215, ../sass/screen.scss */
.aboutme {
  margin-bottom: 60px;
}

/* line 219, ../sass/screen.scss */
#map-canvas {
  width: 500px;
  height: 400px;
  background-color: #CCC;
  border-radius: 10px;
  border-width: 3px;
  border-style: solid;
  border-color: #a5a5a5;
}
